<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11197124513"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-11197124513'); </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buscar placa de carro e moto</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
 

<style>
body {
background-color:#fafafa;
}
.col-md-6 > h1 {
color: blue;
}
.text-princ {
font-weight: bold;
.wall 


</style>
</head>
<body>
  <div class="container d-flex justify-content-center">
    <div class="col-md-6">
        <h1>CONSULTA PLACA</h1>
    <img width="300" height="200" src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81rdwU5v5JK1lr5t8BXD5GVUWtety2l2E9JZRyBzZEPjBkkNu8zqbkfud2gvFEKzQWpg01YI8onCrkF2ugNlXSn_VGNeeg=s1600">
<b class="text-princ">TODAS AS INFORMAÇÕES NA NOSSA CONSULTA DE PLACA MULTAS, DÉBITOS EM ABERTO, BATIDAS E NOME DO DONO E TELEFONE POR APENAS 23.99</b>
       
      <form action="/aqui" method="POST">
        <br>
        <label for="campo-texto">Digite a placa:</label>
        <input type="text" class="form-control" id="campo-texto" name="campo-texto" placeholder="ABC-1234">
        <br>
        <label for="campo-email">Digite seu E-mail:</label>
        <input type="email" class="form-control" id="campo-email" name="campo-email" placeholder="meuemail@gmail.com">
        

        <br>
        <button type="submit" class="btn btn-primary btn-block">Consultar</button>
      </form>
    </div>
  </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<a href="https://wa.me/5521995854873?text=Tenho%20duvidas%20sobre%20a%20consulta%20de%20placa" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;

  z-index:1000;" target="_blank">

<i style="margin-top:16px" class="fa fa-whatsapp"></i>

</a>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $('#campo-seletor').on('change', function() {
      var selected = $(this).val();
      var placeholder;
      switch (selected) {
        case 'nome':
          placeholder = 'INSIRA o nome completo';
          break;
        case 'cpf':
          placeholder = 'INSIRA O CPF';
          break;
        case 'placa':
          placeholder = 'ABC-1234';
          break;
        case 'celular':
          placeholder = 'Insira o número de celular';
          break;
      }
      $('#campo-texto').attr('placeholder', placeholder);
    });
  </script>
</body>
</html>
