<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Buscar placa de carro e moto</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
 

<style>
body {
background-color:#fafafa;
}
.col-md-6 > h1 {
color: blue;
}
.text-princ {
font-weight: bold;
.wall 


</style>
</head>
<body>
  <div class="container d-flex justify-content-center">
    <div class="col-md-6">
        <h1>CONSULTA PLACA</h1>
    <img width="800" height="300" src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81qxleyq-mmBH4PHhBrGCQOrZAP1D-ZxBbzN5NgtpGvpIvWcrneqhqUQ_YXAodthHqa4cD5jVcy1Nea68utqI_V05-JJPQ=s2560">
<b class="wall">Tenha todas as informações do seu veiculo</b>
        <p class="text-princ">Por 9.99 receba sua consulta completa de placa por email</p>
      <form action="/aqui" method="POST">
        <br>
        <label for="campo-texto">Digite a placa:</label>
        <input type="text" class="form-control" id="campo-texto" name="campo-texto" placeholder="ABC-1234">
        <br>
        <label for="campo-email">Digite seu E-mail:</label>
        <input type="email" class="form-control" id="campo-email" name="campo-email" placeholder="meuemail@gmail.com">
        

        <br>
        <button type="submit" class="btn btn-primary btn-block">Consultar</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $('#campo-seletor').on('change', function() {
      var selected = $(this).val();
      var placeholder;
      switch (selected) {
        case 'nome':
          placeholder = 'INSIRA o nome completo';
          break;
        case 'cpf':
          placeholder = 'INSIRA O CPF';
          break;
        case 'placa':
          placeholder = 'ABC-1234';
          break;
        case 'celular':
          placeholder = 'Insira o número de celular';
          break;
      }
      $('#campo-texto').attr('placeholder', placeholder);
    });
  </script>
</body>
</html>
