<!DOCTYPE html>
<html lang="pt-br">
<head><!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11197124513"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'AW-11197124513');

</script>
  <!-- Event snippet for Comprou conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-11197124513/-HUzCKiP_KQYEKGfmtsp', 'transaction_id': '' }); </script>

</head>
<body>
<b>Fim</b>
</body>
</html>
