<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11191890320"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-11191890320'); </script>
  <!-- Event snippet for PlacaCarroComprado conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-11191890320/wDkWCLy-46cYEKGfmtsp', 'transaction_id': '' }); </script>
</head>
<body>
<b>Fim</b>
</body>
</html>
