<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Política de Privacidade</h1>

    <p>Seja bem-vindo à política de privacidade do nosso site. Aqui explicamos como tratamos as informações pessoais que coletamos de nossos usuários.</p>

    <h2>Coleta de Informações</h2>
    <p>Não coletamos informações sensíveis, como e-mail ou placa de veículo, a menos que expressamente fornecidas pelos usuários para receber comunicações.</p>

    <h2>Uso de Cookies</h2>
    <p>Utilizamos cookies para melhorar a experiência do usuário. Os cookies podem ser desativados nas configurações do navegador, mas isso pode afetar a funcionalidade do site.</p>

    <h2>Comunicações por E-mail</h2>
    <p>Ao fornecer seu e-mail, o usuário autoriza o envio de comunicações.</p>

    <h2>Segurança</h2>
    <p>Implementamos medidas de segurança para proteger as informações dos usuários. No entanto, nenhuma transmissão online é 100% segura, e não podemos garantir a segurança absoluta.</p>

    <h2>Alterações nesta Política</h2>
    <p>Reservamo-nos o direito de fazer alterações nesta política a qualquer momento. Recomendamos que os usuários verifiquem periodicamente as atualizações.</p>
    <h2>Problemas com site</h2>
    <p>Qualquer problema entre em contato </p>
    <p>Email:</p> <b>suporte@virtualass.com</b>
    <p>Telefone</p> <b>(61) 99891-5951</b>
    <p>Última atualização: 10 de março de 2024</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
